<!DOCTYPE html>
<html>
  <head>
    <title>Doko</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
=======
>>>>>>> Stashed changes

    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">DoKo</a></h1>
        <div class="user_nav grid-6">
<<<<<<< Updated upstream
          <a class="post" href="/app/views/tests/index.html">Search</a>
=======
          <a class="post" href="tests/index.html">Search</a>
>>>>>>> Stashed changes
        </div>
      </div>
    </header>

<<<<<<< Updated upstream
=======
>>>>>>> Stashed changes
>>>>>>> Stashed changes
    <%= yield %>

    <footer>
      <p>
        ©︎Doko 2020.
      </p>
    </footer>

  </body>
</html>
